
@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}

}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: tranlate(0px, 0px) scale(1);
  }
}
.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes lr {
    from { transform : translateX(-4em); }
    to   { transform : translateX(0em); }
}

@keyframes rl {
    from { transform : translateX(4em); }
    to   { transform : translateX(0em); }
}

@keyframes ud {
    from { transform : translateY(-4em); }
    to   { transform : translateY(0em); }
}

.backlight {
  animation-name    : ud ;
  animation-duration: 3s;
}

.pic {
  animation-name    : opacity   , lr     ;
  animation-duration: 2s        , 3s     ;
}

.presentation {
  animation-name    : opacity   , rl     ;
  animation-duration: 2s        , 3s     ;
}

nav {
  animation-name    : opacity   , ud     ;
  animation-duration: 2s        , 3s     ;
}
