

<div class="relative">
  <div class="flex-1">
    <div>
      <div class="absolute top-0 left-0 w-72 h-72 bg-white rounded-full mix-blend-soft-light filter blur-2xl animate-blob"></div>
      <div class="absolute top-0 left-80 w-72 h-72 bg-sky-500 rounded-full mix-blend-soft-light filter blur-2xl animate-blob animation-delay-2000"></div>
      <div class="absolute -bottom-8 left-40 w-72 h-72 bg-yellow-300 rounded-full mix-blend-soft-light filter blur-2xl animate-blob animation-delay-4000"></div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-1">
      <%= image_tag "Ismael.jpg", class: "relative rounded-full w-72 mx-auto pic"%>
    </div>
    <div class="presentation flex-1 border-l-4 border-sky-500 bg-slate-800 p-5 rounded-r-xl">
      <h1 class="text-slate-200 text-6xl font-serif mb-5 ml-5">
      Ismaël Gashi
      </h1>
       <blockquote>
      <p class=" text-slate-400 text-xl ml-5">After nearly 20 years of experience in the insurance industry, I decided to move into the field that I am passionate about: Web development.</p>
       </blockquote>
      <p class=" text-slate-400 text-xl ml-5">Full stack web devlopper</p>
    </div>
  </div>
</div>

<div class="text-slate-200 flex place-self-end p-5 invisible md:visible" style="writing-mode: vertical-lr;">
  <div>
    <p class="text-lg animate-bounce">Scroll down </p>
  </div>
  <div >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
    </svg>
  </div>
</div>