<div class="w-7/12 mx-auto content-center">
  <div class="flex justify-between">
    <svg class=" fill-sky-700 hover:fill-sky-500 h-32 w-32" viewBox="0 0 32 32">
      <%= render :partial => 'svg/rails' %>
    </svg>
    <svg class=" fill-sky-700 hover:fill-sky-500 h-32 w-32" viewBox="0 0 32 32">
      <%= render :partial => 'svg/ruby' %>
    </svg>
    <svg class=" fill-sky-700 hover:fill-sky-500 h-32 w-32" viewBox="0 0 32 32">
      <%= render :partial => 'svg/rails' %>
    </svg>
  </div>
</div>

