<div class="relative flex items-center">
  <div class="text-white flex-1 lr">
    <%= image_tag "Ismael.jpg", class: "z-50 rounded-full w-6/12 mx-auto pic shadow-xl shadow-slate-800"%>
    <div class="absolute top-0 left-0 w-72 h-72 bg-white rounded-full mix-blend-soft-light filter blur-2xl"></div>
    <div class="absolute top-0 left-80 w-72 h-72 bg-sky-500 rounded-full mix-blend-soft-light filter blur-2xl"></div>
    <div class="absolute -bottom-8 left-40 w-72 h-72 bg-yellow-300 rounded-full mix-blend-soft-light filter blur-2xl"></div>
  </div>
  <div class="presentation flex-1 border-l-4 border-sky-500 bg-slate-800 p-5 rounded-r-xl">
    <h1 class="text-slate-200 text-6xl font-serif mb-5 ml-5">
    Ismaël Gashi
    </h1>
    <p class=" text-slate-400 text-xl ml-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium maxime quisquam molestiae, placeat error laborum pariatur facilis, quia voluptatibus omnis alias, voluptatem mollitia facere qui rem ea aliquid iste doloribus?</p>
  </div>
</div>
