<section class="min-h-screen flex items-center justify-center -mt-20">
    <%= render 'shared/presentation' %>
</section>

<section class="">
  <div class="container">
    <%= render 'shared/skills' %>
  </div>
</section>


