<section class="h-screen">
  <div class="container py-20">
    <%= render 'shared/presentation' %>
  </div>
</section>

<section class="h-screen">
  <div class="container">
    <%= render 'shared/skills' %>
  </div>
</section>


