.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #c8d8e4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  right: 0%;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #52ab98;
  border: 2px solid #2b6777;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 3em;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #c8d8e4;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  top: calc(50% - 8px);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  width: 30%;
}

.container.left .date {
  left: 105%;
  text-align: left;
}

.container.right .date {
  left: -35%;
  text-align: right;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #fff;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
}

.container .content:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 5px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.container .content h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: rgba(255,255,255,0.5);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #c8d8e4;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 160px;
  }

  .container {
    width: 100%;
    padding-left: 190px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 152px;
  }

  .container.left::before,
  .container.right::before {
    left: 169px;
    border-color: transparent #2b6777 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: 15px;
    left: 15px;
    text-align: right;
    max-width: 120px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 215px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 5px;
  }
}
